*{
font-family: 'Comfortaa', cursive;
}
html,
h1,
h2,
h3,
h4,
h5,
h6{
    color: #383636;
}
body{
    background: #f3d9d9be;
}
a{
    text-decoration: none;
    color: #383636; 
}
input{
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
}
header{
    background: #9e3e3e;
    height: 70px;
}
header *{
    color: #2b2a2a;
}
header h1{
    margin-top: 13px;
}
header h1 a{
    color: #2b2a2a;
    text-decoration: none;
} 
header h1 a:hover {
    color: #2b2a2a;
} 
header ul {
    color: #2b2a2a;
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
} 
header ul li{
   float: left;
   position: relative;
} 
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2b2a2a;
    padding: 20px;
 } 
 header ul li a:hover{
  background:#e6aeae ;
  transition: 0.5s;
    color: #293133;
 } 
 header ul li ul{
    position: absolute;
    top: 69px;
    right: 0px;
    width: 180px;
    z-index:111 ;
    display: none;
 } 
 header ul li:hover ul{
    display: block;
 }
 header ul li ul li{
    width: 100%;
 }
 header ul li ul li a{
padding: 10px;
background:#9e3e3e;
color: #2b2a2a;
 }
 /*
 slider
 */
.slider-title{
    text-align: center;
    padding: 30px 0;
}
.carousel{
    height: 500px;
}
.carousel-inner, .carousel-item{
    height: 500px;
}
.carousel-caption h5
{
font-size: 1rem;
font-weight: 500;
background: #293133;
max-width: 100%;
padding: 0.2em;
opacity: 0.5;
color: #F5F5DC;
}
/*
 main
 */
.main-content h2{
    Margin: 30px 0;
 
}
.main-content .post{
    margin-bottom: 3em;
}
.main-content .post .img-thumbnail{
   height: 250px;
   width: 300px;
}
.main-content .post-text{
    background:    #ebd5d5;

    padding: 8px;
    border-radius: 3px;
}
.main-content .post-text h3{
    margin: 14px 0;
  
} 
.main-content .post-text h3 a{
    color: #2b2a2a;
    text-decoration: none;
} 
.main-content .post-text h3 a:hover{
    color:#000000 ;
    text-decoration: none;
 }
 .main-content .post-text i{
    margin: 0px 14px 14px 0px;
 }
 /*
 sidebar
 */
.search{
    margin-top: 96px;
 }
 .sidebar .section{
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background: #ebd5d5;
 }
 .sidebar .topics ul{
    margin: 0;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
 }
 .sidebar .topics ul li a{
display: block;
padding: 15px 0px 15px 0px;
border-bottom: 1px solid #e0e0e0;
transition: all 0.3s;
text-decoration: none;
font-weight: 500;
color: #5c5b5b;
font-size: 1.2em; 
}
.sidebar .topics ul li a:hover{
padding-left: 10px;
transition: all 0.3s;
color: #000000;
}
 /*
 footer
 */
 .footer{
    background: #9e3e3e;
    color: #d3d3d3;
    position: relative;
 }
 .footer .footer-section {
    padding: 22px;
 }
 .footer h4, .footer h3{
    color: white;
 }
 .footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
 }
 .footer .about .socials a{
    border: 1px solid rgb(88, 26, 26);
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #ffffff;
 }
 .footer .about .socials a:hover{
border: 1px solid white;
color: white;
transition: all .3s; 
}
.footer .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: #ffffff;
    text-decoration: none;
}
.footer .links ul a:hover{
    margin-left: 15px;
    color: white;
    transition: all .3s; 
    }
.footer .contact-form .contact-input{
    background: #753737;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}
.footer .contact-form .contact-input:focus{
    background: #502a2a;}
.footer .contact-form .contact-btn {
    float: right;
font-size: 1.1em;
color: hsl(0, 0%, 100%);

}
 /*
single page
 */
 .caption{
    padding-top: 10px;
    margin-left: 10px;
 }
 .popbooks .img-thumbnail{
 height: 350px;
width: 250px;}
.imgmain .img-thumbnail{
    height: 525px;
    width: 400px;
}
 /*
registration
 */
 .reg-form h2{
    text-align: center;
    margin-top: 30px ;
 } 
 .reg-form input{
    height: 3.3rem;
 } 
 .reg-form a{
    font-size: 1.2rem;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
 }
 .reg-form a:hover{
    margin-left: 55px;
    transition: all .3s;
 }
  /*
forms
 */
 form div.err p{
    color:red;
    font-style: italic;
font-size: 0.8rem;
 }

 .contentt {
    margin-bottom: 5em;
    margin-top: 5em!important;
}
.contentt .imgabout{
   height: 500px;
   width: 350px;
}
.contentt .post-text{
    margin-left: 20px;
    background:    #ebd5d5;
    font-size: 2em;
    padding: 40px;
    border-radius: 3px;
}